/* Reset some default styles and set a basic font */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color:aqua;
}

/* Header styles */
header {
    background-color:yellow;
    color:blue;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color:red;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 2px solid gold;
}

/* Babug section styles */
.babug-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:plum;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color:plum;
    color: hsl(323, 91%, 54%);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
